@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Font class declaration
  2. HTML5 Boilerplate Code
  3. Helper Classes
  4. PRDXN's custom styles
    4.1. Body
    4.2. Header
    4.3. Main
    4.4. Footer
  5. Media Queries
  6. Print Styles
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON
   ========================================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, img, ins, kbd, q,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  outline: 0;
  vertical-align: baseline;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles!
:focus {
    outline: ?????;
} */

/* 1.2. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

/* This is just an example. You have to replace it with the font class you will be using for the project. */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
   2. HTML5 Boilerplate Code
   ========================================================================== */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea { color: #222; }

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
img,
video { vertical-align: middle; }

textarea { resize: vertical; }

.browsehappy {
	padding: 0.2em 0;
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
}

/* ==========================================================================
   3. Helper classes
   ========================================================================== */

/* For image replacement. */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  width: 0;
  height: 150%;
  display: block;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide visually and from screenreaders, but maintain layout. */
.invisible { visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* Contain floats: h5bp.com/q */
.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }


/* ==========================================================================
   4. PRDXN's custom styles
   ========================================================================== */
/*
    Author: PRDXN;
    Company Website: http://www.prdxn.com;
*/

/* 4.1. Body
   ========================================================================== */
.container {
  background: url(../images/background.png) no-repeat;
  background-size: cover;
  color:  #003b5c;
  font-family: Arial;
}

.wrapper {
  width: 955px;
  margin: 0 auto;
}

ul li { display: inline-block; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

/* 4.2. Header
   ========================================================================== */
header {
  padding: 16px 0 12px;
  position: relative;
  z-index: 5;
  background-color:  #868c90;
  box-shadow: 1px 2px 3px 0px rgba(49, 49, 49, 0.7);
}

nav ul li a,
nav ul li { color: #fff; }

nav ul li:first-child { border: 1px solid #fff; }

nav ul li {
  padding: 4px 8px;
  font-size: 16px;
}

/* 4.3. Main
   ========================================================================== */
.opdivo-info-section { padding: 0 0 25px; }

h1 {
  width: 234px;
  height: 194px;
  background: url(../images/opdivo.logo.png) no-repeat;
  text-indent: -9999px;
}

h1 a {
  height: 194px;
  display: block;
}

.logo-and-usage span {
  margin: 40px 0 24px;
  display: block;
  font-weight: 700;
  line-height: 16.667px;
}

.logo-and-usage {
  width: 234px;
  display: inline-block;
  position: relative;
  top: -50px;
  z-index: 0;
}

.logo-and-usage p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20.567px;
}

h2 {
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}

.now-approved-section h2 + span {
  margin: 17px 0;
  display: block;
  font-style: italic;
}

.now-approved-section {
  width: 408px;
  padding: 25px 40px 0 50px;
  display: inline-block;
  vertical-align: top;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

.now-approved-section p + span {
  padding: 33px 0;
  border-top: 1px solid rgb(174, 209, 54);
  border-bottom: 1px solid rgb(174, 209, 54);
  margin: 34px 0 29px;
  display: block;
  font-weight: bold;
  text-align: center;
}

.now-approved-section a,
.more-info-section a {
  display: block;
  color:  #003b5c;
}

.more-info-section {
  width: 213px;
  padding: 35px 0 0;
  display: inline-block;
  vertical-align: top;
}

.more-info-section > div { box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.13); }

.more-info-section ul li {
  width: 173px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(174, 209, 54);
}

.more-info-section .listing li {
  width: 173px;
  padding: 0;
  border-bottom: none;
}

.more-info-section ul { padding: 19px; }

.more-info-section .listing { margin: 40px 0 0; }

.more-info-section > a {
  margin-top: 34px;
  float: right;
}

h4 {
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
  background: url(../images/heading-bg.png) no-repeat;
  background-size: 100% 40px;
  font-weight: bold;
  text-align: center;
}

.signup-form > span {
  box-sizing: border-box;
  padding: 19px 27px 13px;
  display: block;
  background: url(../images/heading-bg.png) no-repeat;
  font-size: 17.941px;
  font-weight: 700;
  letter-spacing: 0.449px;
  line-height: 14px;
}

.signup-form {
  margin: 0 0 14px;
  background: #fff;
}

form > span {
  padding: 21px 35px 21px 0;
  display: block;
  font-size: 14px;
  font-style: italic;
}

form {
  width: 595px;
  margin: 0 29px 0 35px;
  display: inline-block;
}

form + p {
  width: 254px;
  padding: 80px 0 0;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

form label { display: block; }

form > div { display: inline-block; }

input {
  height: 45px;
  padding: 0 5px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  background: rgb(233, 231, 231);
}

form > input { width: 100%; }

form > div > input { width: 268px; }

#first-name,
#email-address { margin: 0 33px 0 0; }

#zip-code { width: 139px; }

label[for="address"] { margin: 20px 0 0; }

select {
  height: 45px;
  padding: 0 3px;
  border: none;
  background: rgb(233, 231, 231);
}

.dropdown { margin: 0 23px 0; }

button {
  padding: 0;
  border: none;
  margin: 5px 0 27px;
  float: right;
  cursor: pointer;
}

.safety-info-wrapper {
  padding: 40px;
  margin-bottom: 100px;
  background: #fff;
  font-size: 14px;
  box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.13);
}

.safety-info-wrapper > span:first-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 16.5px;
}

.safety-info-wrapper > p:nth-child(2) {
  margin-top: 10px;
  font-weight: 600;
}

.safety-info-wrapper p {
  margin: 0 0 22px;
  line-height: 16.5px;
  text-align: justify;
}

/* 4.4. Footer
   ========================================================================== */


/* ==========================================================================
   5. Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   6. Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
